{% extends 'master.html' %}
{% block content %}
    <style>
    .errorlist{
        color:red;
        list-style-type: none;
    }
    </style>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Save">
</form>
{% endblock %}