
{% extends 'master.html' %}
{% block content %}
<h1>Question {{ question.id }} : {{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'vote' question.id %}" method="post">
{% csrf_token %}

{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<br/>
{% if question.choice_set.all %}<input class="btn btn-info" type="submit" value="Vote" />{% endif %}

</form>
{% endblock %}