{% extends 'master.html' %}
{% block content %}

    {% if latest_question_list %}
    <ul class="list-group">
    {% for question in latest_question_list %}
        <li class="list-group-item list-group-item-success">Question {{ question.id }} : <a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
        <li class="list-group-item list-group-item-warning">Publish Date: {{ question.pub_date }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


{%  endblock %}