{% extends 'master.html' %}
{% block content %}

<h1>Question {{ question.id }} : {{ question.question_text }}</h1>


        <table class="table">
            <thead>
            <tr>
                <th>Choice Name</th>
                <th>Votes</th>

            </tr>
            </thead>
            {% for choice in question.choice_set.all %}

                <tbody>
                <tr class="active">
                    <td>{{ choice.choice_text }}</td>
                    <td>{{ choice.votes }}</td>
                </tr>

                </tbody>


            {% endfor %}
        </table>





    <a href="{% url 'detail' question.id %}">Vote again?</a>
{% endblock %}